 .clearfix:after {
        clear: both;
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
      }
      .clearfix { display: inline-block; }
      * html .clearfix { height: 1%; }
      .clearfix { display: block; }

  @media only screen and (max-width: 980px) {
    .container {
      padding: 0 20px;
      max-width: 768px;
    }
    #main-container {
      padding-top: 130px;
    }
    .main-section {
      max-width: 420px;
    }
    .work {
      width: 100%;
    }
    .auth-image {
      width: 100%;
      margin-bottom: 20px;
    }
  }

@media only screen and (max-width: 768px) {
  .main-section, .sidebar {
    max-width: 100%;
  }
  #main-container {
    overflow: auto;
  }
  .sidebar {
    margin-bottom: 40px;
  }
  .work {
    width: 47%;
    margin-bottom: 10px;
  }
  .work:nth-child(even) {
    margin-right: 0;
  }
  .work.work:nth-child(odd) {
    float: right;
  }
  .text-center {
    width: 50%;
  }
}

@media only screen and (max-width: 640px) {
  #masterhead {
    position: static;
    margin-bottom: 20px;
  }
  header.container {
    padding: 0;
  }
  #main-container {
    padding-top: 0;
  }
  #logo, .work, .auth-image {
    width: 100%;
  }
  nav {
    text-align: center;
    width: 100%;
    margin: 15px 0;
  }
  nav a {
    width: 30%;
    padding-left: 0;
  }
}